upstream example.com{
         server 192.168.10.30:3006;
         server 192.168.10.40:3006;
         check interval=3000 rise=2 fall=5 timeout=1000 type=http;
         }

   server {
        listen       0.0.0.0:80;
        server_name  example.com;
        charset utf-8;
        proxy_connect_timeout 30;
        access_log  logs/example.com.log  main;
        
        if ( $request_method !~ ^(GET|POST|HEAD)$ ) {
                return 405;
                }
        if ( $http_range ~ "\d{9,}" ) {
                return 444;
                }
        if ( $query_string ~* "union.*select.*\(") {
                rewrite ^/(.*)$ $host permanent;
                }
        if ( $query_string ~* "concat.* \(") {
                rewrite ^/(.*)$ $host permanent;
                }
        if ( $host !~* 'example.com' ) {
                return 403;
                }
        if ( $http_user_agent ~* "LWP::Simple|BBBike|wget|java|python|perl|bash|echo|uname|base64|decode|md5sum|select|concat|httprequest|httpclient|nmap|scan" ) {
                return 403;
                }

        location /(admin|phpadmin|status) {
                deny all;
                }
        location ~* \.(txt|doc|sql|gz|svn|git|old|sh|bak|save)$ {
                rewrite ^/(.*)$ $host permanent;
                }
        location ~* .(gif|jpeg|swf|png|jpg|bmp)$ {
                expires 7d;
                proxy_pass http://example.com;
                }
        location / {
                proxy_pass http://example.com;
                   }
        error_page   502  /50x.html;
        location = /50x.html {
            root   html;
        }
        }
