/usr/local/nginx/logs/*.log {
    daily
    dateext
    missingok
    rotate 15
    compress
    delaycompress
    notifempty
    sharedscripts
    postrotate
        if [ -f /usr/local/nginx/logs/nginx.pid ]; then
          kill -USR1 `cat /usr/local/nginx/logs/nginx.pid`
        fi
    endscript
}
