user  nginx;
worker_processes  auto;
timer_resolution  6000ms;

error_log  logs/error.log  info;
pid        logs/nginx.pid;

events {
    use epoll;
    worker_connections 65535;
    reuse_port on;
    multi_accept on;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent $request_body "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" "$request_time" "$upstream_addr" "$upstream_response_time"';

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;
    server_tokens  off; 

    keepalive_timeout  60;
    keepalive_requests 409600;
    client_header_buffer_size 1024k;
    client_max_body_size 100m;
    large_client_header_buffers 4 64k;
    client_header_timeout 180s;
    client_body_buffer_size 1024k;
    client_body_timeout 300s;
    fastcgi_intercept_errors on;

    gzip  on;
    gzip_static on;
    gzip_min_length  1000;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_types       application/x-javascript text/css  application/javascript application/json;
    gzip_disable     "MSIE [1-6]\.";
    gzip_vary on;

    proxy_buffer_size 8192k;
    proxy_buffers 64 8192k;
    proxy_buffering on;
    proxy_busy_buffers_size 20480k;
    proxy_read_timeout 120;
    proxy_send_timeout 300;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_next_upstream error timeout http_503 http_502 http_500;

include vhost/*/*.conf;
}
